<style>
  h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 16px;
    text-align:center;
  }

  form {
    width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
</style>

<h3>Update a student</h3>

<%= form_with model: @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Enter your name" %><br>

  <%= f.label :age %>
  <%= f.text_field :age, placeholder: "Enter your age" %> <br>

  <%= f.submit %>
<% end %>
